*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: #5A6A5D;
    --secondary: #FFF;
    --danger: #E8C3B0;
    --brown: #9C5E2F;
    --grey: #5A6A5D;
    --pink: #E8C3B0;
    --blue: #DBE7DD;
}

section{
    margin-bottom: 5.5rem;
}

a{
    color: var(--brown) !important;
    text-decoration: none !important;
    margin-top: 2rem !important;
}

ul {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

p {
    color: var(--grey);
}

p.description {
    margin-bottom: 3rem !important;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: var(--brown);
}

#contact {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 31rem;
    background-image: url("assets/banner.jpg");
    background-size: cover;
}

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#result {
    margin-top: 1.25rem;
}

#slider, #details {
    text-align: center;
}

#subscribe {
    margin-bottom: 1rem;
    background-color: var(--blue);
    min-height: 13rem;
    border: 0.18rem solid var(--primary);
}

.logo {
    width: 7.44rem;
    height: 4.38rem;
    margin: 0;
    object-fit: contain;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.62rem;
    background-color: var(--grey);
    border-radius: 1%;
    color: white;
    opacity: 0.7;
}

.contact-form {
    background-color: white;
    padding: 1.25rem;
    border-radius: 1%;
}

.content-pack {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}

.content  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.result {
    justify-content: space-around;
}

.btn-primary{
    background: var(--primary) !important;
    border: 0.06rem solid var(--primary) !important;
    border-radius: 0 !important;
}

.btn-secondary{
    background: var(--secondary) !important;
    border: 0.18rem solid var(--primary) !important;
    color: var(--grey) !important;
    border-radius: 0 !important;
}

.btn-danger{
    background: var(--danger) !important;
    border: 0.18rem solid var(--blue) !important;
    color: white !important;
    border-radius: 0 !important;
}

.icon-lg{
    width: 4.7rem;
    height: 4.7rem;
}

.icon {
    width: 3.2rem;
    height: 3.2rem;
}

.icon-email{
    width: 2.2rem;
    height: 2.2rem;
}

.bg-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% / 4);
    min-width: 20rem;
    min-height: 20rem;
    padding: 1.8rem 0 0 1.25rem;
    background-color: var(--blue);
}

.tab-choice {
    min-width: 15rem;
    text-align: right;
}

.part {
    width: calc(100% / 4.5);
    min-width: 15rem;
    padding: 20px;
}

.pack {
    width: calc(100% / 6.5);
    min-width: 15rem;
    height: fit-content;
    margin-bottom: 0.63rem;
    border: 0.18rem solid var(--grey);
    padding: 0.63rem;
    text-align: left ;
    cursor: pointer;
}

.bg-pack {
    width: calc(100% / 6.5);
    min-width: 15rem;
    height: fit-content;
    margin-bottom: 0.63rem;
    background-color: var(--blue);
    border: O.18rem solid var(--blue);
    padding: 0.63rem;
    text-align: left ;
    cursor: pointer;
}

.company {
    border: none !important;
}

.mobile-slide {
    display: none;
}

.img-slide {
    width: 13.4rem;
    height: 12.5rem;
    object-fit: cover;
}

.img-result {
    width: 25rem;
    height: 31.5rem;
    object-fit: cover;
}

.text-message {
    border: 0.125rem solid var(--grey);
    min-width: 20rem;
    padding: 2rem;
}

/***************************** small screens ****************************/

@media (min-width: 280px) and (max-width: 818px) {

    #presentation {
        justify-content: center;
    }

    #subscribe {
        min-height: 10rem;
    }

    .mobile-slide {
        display: inline-table;
    }

    .slideshow {
        width: 21.9rem;
        height: 12.5rem;
        overflow: hidden;
        border: 0.18rem solid white;
    }

    .slideshow ul {
        /* 8 images donc 8 x 100% */
        width: 800%;
        height: 12.5rem;
        padding:0;
        margin:0;
        list-style: none;
    }

    .slideshow li {
        float: left;
    }

    .slide {
        display: none;
    }

    .img-slide {
        width: 21.9rem;
        height: 12.5rem;
        object-fit: cover;
    }

    .part{
        text-align: center;
    }

    .input-group input, button {
        height: fit-content !important;
        font-size: smaller !important;
        margin: auto !important;
    }

    span.input-group-text {
        display: none;
    }

    .company {
        text-align: center;
    }
}
